[project]
	description = heartbeat is a minimalist Java framework for single-board computers (C.H.I.P., Raspberry Pi, BeagleBone, etc.)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Seray Uzgur (serayuzgur)
[access "refs/for/refs/*"]
	read = group user/Seray Uzgur (serayuzgur)
	push = group user/Seray Uzgur (serayuzgur)
	label-Code-Review = -2..+2 group user/Seray Uzgur (serayuzgur)
	label-Verified = -1..+1 group user/Seray Uzgur (serayuzgur)
	rebase = group user/Seray Uzgur (serayuzgur)
	removeReviewer = group user/Seray Uzgur (serayuzgur)
	submit = group user/Seray Uzgur (serayuzgur)
[access "refs/heads/*"]
	read = group user/Seray Uzgur (serayuzgur)
	create = group user/Seray Uzgur (serayuzgur)
	push = +force group user/Seray Uzgur (serayuzgur)
	pushMerge = group user/Seray Uzgur (serayuzgur)
[access "refs/tags/*"]
	push = +force group user/Seray Uzgur (serayuzgur)
	pushTag = group user/Seray Uzgur (serayuzgur)
	pushSignedTag = group user/Seray Uzgur (serayuzgur)
